# ðŸ’™ðŸ’š Simple print something

In [3]:
print('Hello world!')
print("My name is Abu Bakar")
print('''
I am a MERN stack developer
    and also a running student 
        in computer science and engineering.
''')

Hello world!
My name is Abu Bakar

I am a MERN stack developer
    and also a running student
        in computer science and engineering.

In above the source code 
we can print something in three ways
1. single quotation 
2. double quotation
3. triple quotation

# Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

# Python Comments

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [4]:
# this a comments

# Variables
Variables are containers for storing data values.

In [5]:
name = 'Abu Bakar'
savings = 100
num_months = 12
height = 5.44
print(name, savings, num_months, height)

Abu Bakar 100 12 5.44

# Python - Variable Names
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

~~~Remember that variable names are case-sensitive

In [6]:
# multiple variable declaration
x, y, z = 3, 5, 6
p, q, r = 'Orange', 'Apple', 'Pump'

# Type Casting and Get the Type using type() method

In [1]:
number = 33
# number to string 
stringFormat  = str(number)
#integer to float 
floatFormat = float(number)
#string to integer number
integerNumber = int(stringFormat)
print("This variable type ", type(number), number)
print("This variable type is",type(stringFormat), stringFormat)
print("This variable type is ",type(floatFormat), floatFormat)
print("This variable type is", type(integerNumber),integerNumber)

This variable type  <class 'int'> 33
This variable type is <class 'str'> 33
This variable type is  <class 'float'> 33.0
This variable type is <class 'int'> 33

## Many Values to Multiple Variables

In [2]:
# Python allows you to assign values to multiple variables in one line:

x, y, z  = "Ami", "Tumi", "Amra"
print("x =", x, "y =",y, "z =", z )

x = Ami y = Tumi z = Amra

## One Value to Multiple Variables

In [3]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

##  Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [5]:
# list unpacking
fruits = ["Apple", "Banana", "Cherry"]
x,  y, z = fruits
print(x)
print(y)
print(z)

Apple
Banana
Cherry

In [6]:
# tuple unpacking
fruits = ("Apple", "Banana", "Cherry")
(x,y,z) = fruits
print(x)
print(y)
print(z)

Apple
Banana
Cherry

#### If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [8]:
# special case I of tuple
fruits = ("Apple", "Banana", "Cherry", "Mango", "Orange","Watermelon")
(x, y,  *z) = fruits
print(x)
print(y)
print(z)

Apple
Banana
['Cherry', 'Mango', 'Orange', 'Watermelon']

In [9]:
# special case II of tuple
fruits = ("Apple", "Banana", "Cherry", "Mango", "Orange","Watermelon")
(x, *y,  z) = fruits
print(x)
print(y)
print(z)

Apple
['Banana', 'Cherry', 'Mango', 'Orange']
Watermelon

In [10]:
# special case III of tuple
fruits = ("Apple", "Banana", "Cherry", "Mango", "Orange","Watermelon")
(*x, y,  z) = fruits
print(x)
print(y)
print(z)

['Apple', 'Banana', 'Cherry', 'Mango']
Orange
Watermelon

# # Python - Output Variables

In [11]:
#The Python print() function is often used to output variables.

x = "I am a quick learner. Now I am  learning python basic"
print(x)

I am a quick learner. Now I am  learning python basic

In [12]:
# In the print() function, you output multiple variables, separated by a comma:

x = 'python'
y = 'is'
z = 'Awesome!'
print(x, y, z)

python is Awesome!

In [15]:
# we can also use the + operator to output multiple variables:
x = 'Keep '
y = 'learning '
z = 'keep '
u = "exploring"
print(x + y + z + u)

Keep learning keep exploring

##  Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [1]:
x = "Kasem"
def greetings():
    print("Hello,", x, "Welcome!")
greetings()

Hello, Kasem Welcome!

In [4]:
x = "Hello,"
def greetings1():
    y = "Awesome"
    print(x, "python is", y)
print("I am learning with w3schools")
greetings1()

I am learning with w3schools
Hello, python is Awesome

In [1]:
# global variable example
def test():
    global x
    x = "fantastic"
test()
print("Python is "+ x)

Python is fantastic

## Python Data Types

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

'''Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType'''

In [2]:
#example I
x = 5
print(type(x))

<class 'int'>

In [4]:
# 1. str type example
x = "Hello, Abu Bakar"

# display value of x
print(x)

# display data type of x
print(type(x))

Hello, Abu Bakar
<class 'str'>

In [5]:
# 2. int type example 
x = 20
#display value of x
print(x)

#display data type of x
print(type(x))

20
<class 'int'>

In [6]:
#3. float type example

x = 30.3

#display value of x
print(x)

#display data type of x
print(type(x))

30.3
<class 'float'>

In [7]:
# 4. complex type example 

z = 2j

#display the value of z
print(z)

#display the data type of z

print(type(z))

2j
<class 'complex'>

In [9]:
# 5. list type example

fuirts = ["apple", "orange", "banana", "cherry", "watermelon"]

#display the value of fuirts 
print(fuirts)

#display the data type of fuirts
print(type (fuirts))

['apple', 'orange', 'banana', 'cherry', 'watermelon']
<class 'list'>

In [10]:
# 6. tuple type example 
fuirts = ("apple", "orange", "watermelon")

#display the value of fuirts
print(fuirts)

#display the data type of fuirts
print(type(fuirts))

('apple', 'orange', 'watermelon')
<class 'tuple'>

In [11]:
#7range type example
x = range(10)


#display value of x
print(x)

#display data type of x
print(type(x))

range(0, 10)
<class 'range'>

In [12]:
#8 dictionary type example
student = {"Roll":505, "name":"Abu Bakar", "optional_subject":"Higher Math" }

#display the value of student
print(student)

#display the data type of student
print(type(student))

{'Roll': 505, 'name': 'Abu Bakar', 'optional_subject': 'Higher Math'}
<class 'dict'>

In [13]:
#9 set type example

y = {"Apple", "orange", "Banana"}

#display the value of y
print(y)

#display the data type of y
print(type(y))

{'Banana', 'orange', 'Apple'}
<class 'set'>

In [15]:
# 10. frozenset type example

y = frozenset({"Apple", "orange", "Banana"})

#display the value of y
print(y)

#display the data type of y
print(type(y))

frozenset({'Banana', 'orange', 'Apple'})
<class 'frozenset'>

In [16]:
# 11 boolean type example

x = bool(5)
y = True

#display the value of x, y
print(x, y)

#display the data type of y
print(type(x), type(y))

True True
<class 'bool'> <class 'bool'>

In [17]:
# 12. bytes type example

x = bytes(6)


#display value of x
print(x)

#display data type of x
print(type(x))

b'\x00\x00\x00\x00\x00\x00'
<class 'bytes'>

In [18]:
# 13. bytearray type example

x = bytearray(5)

#display value of x
print(x)

#display data type of x
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
#14.